body {
  padding: 25px;
  background-color: rgb(24, 24, 24);
  color: white;
  font-size: 25px;
}

.light-mode {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

div.frame {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width: auto;
  height: auto;
 }

div.spacewar {
 position: absolute;
 width: auto;
 height: auto;
 overflow: hidden;
 box-sizing: padding-box;
}

canvas.spacewar {
 background: black;
 position: absolute;
 width: auto;
 height: auto;
 top: auto;
 left: auto;
 box-sizing: padding-box;
}
